@model IEnumerable<AdsetIntegrador.DTO.Carro.ReadCarroDto>
@using System.IO

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1> *@

<div class="informacoes-container">
    <div class="container">
        <div class="informacoes">
            <div class="informacoes-total">
                <h2>@ViewBag.Total <label>Veículos</label></h2>
                <h5>Total</h5>
            </div>
            <div class="informacoes-cfoto">
                <h2>@ViewBag.TotalComFotos <label>Veículos</label></h2>
                <h5>com fotos</h5>
            </div>
            <div class="informacoes-sfoto">
                <h2>@ViewBag.TotalSemFotos <label>Veículos</label></h2>
                <h5>sem fotos</h5>
            </div>
            <div class="informacoes-exp">
                <h2>Exportar Estoque</h2>
                <a href="#">
                    <img src="~/excel.svg" width="20%" />
                </a>
            </div>
            <div class="informacoes-add">
                <a asp-action="Create">
                    <img src="~/criar.svg" width="20%" />
                </a>
            </div>
            <div class="informacoes-salvar">
                <a>
                    <img src="~/Salvar.svg" width="40%"/>
                </a>
            </div>
        </div>

        <div class="search-form">
            @using (Html.BeginForm("Index", "Carro", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="container-forms">
                    <div class="form-group">
                        <label>Placa</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Marca</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Modelo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Ano Min</label>
                        @Html.DropDownList("AnoMin", new SelectList(ViewBag.AnoMin), string.Empty, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Ano Max</label>
                        @Html.DropDownList("AnoMax", new SelectList(ViewBag.AnoMax), string.Empty, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Preço</label>
                        @Html.DropDownList("Preco", new SelectList(ViewBag.Preco), string.Empty, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Fotos</label>
                        @Html.DropDownList("Fotos", new SelectList(ViewBag.Fotos), string.Empty, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Opcionais</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Cor</label>
                        @Html.DropDownList("Cor", new SelectList(ViewBag.CoresComuns), string.Empty, htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="apagar">
                        <button type="submit" class="btn-apagar">
                            <img src="~/apagar.svg" class="icon" />
                        </button>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-5"></div> <!-- Espaço antes do botão central -->
                    <div class="col-md-2 d-flex justify-content-center">
                        <div class="search-button">
                            <button type="submit" class="btn-buscar">
                                <img src="~/lupa.svg" class="icon" />
                                <label>Buscar</label>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex justify-content-end">
                        <div class="up-button">
                            <button type="submit" class="btn-up">
                                <img src="~/chevron-up-solid.svg" class="icon" />
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<table id="tabelaCarro" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Foto")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArCondicionado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alarme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airbag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreioABS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.CarroFotos != null && item.CarroFotos.Count > 0 && item.CarroFotos[0].Foto != null)
                    {
                        <img src="~/uploads/@item.CarroFotos[0].Foto.Nome" alt="Foto do Carro" width="100%" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Km)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @if (item.ArCondicionado == true)
                    {
                        <p class="opcionais">Sim</p>
                    }
                    else
                    {
                        <p class="opcionais">Não</p>
                    }
                </td>
                <td>
                    @if (item.Alarme == true)
                    {
                        <p class="opcionais">Sim</p>
                    }
                    else
                    {
                        <p class="opcionais">Não</p>
                    }
                </td>
                <td>
                    @if (item.Airbag == true)
                    {
                        <p class="opcionais">Sim</p>
                    }
                    else
                    {
                        <p class="opcionais">Não</p>
                    }
                </td>
                <td>
                    @if (item.Airbag == true)
                    {
                        <p class="opcionais">Sim</p>
                    }
                    else
                    {
                        <p class="opcionais">Não</p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CarroId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.CarroId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.CarroId })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayName("Foto")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArCondicionado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alarme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airbag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreioABS)
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>

@section scripts {
    <link src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link src="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    
    <script>
        new DataTable('#tabelaCarro');
    </script>
}